@import "normalize.css";
@import "@blueprintjs/core/lib/css/blueprint.css";
@import "@blueprintjs/icons/lib/css/blueprint-icons.css";

.App {
  padding: 100px;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.player-tag-button {
  margin: 2px;
  padding: 0px;
  min-height: 0;
}

.rank-button {
  display: flex;
  margin: 8px 0px;
}